# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Azure / Deployment
# =========================
.python_packages/
__blobstorage__/
__queuestorage__/
__tablesstorage__

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.sqlite3
*.db
